body{
    margin: 0px;
    font-family: 'Manrope-Regular', Arial, Helvetica, sans-serif;
}
#outer_container{
    background-color: #0B0C10;
    margin: 0px;
    padding: 0px;
    height: 100%;

    display: flex;
    flex-direction: column;
}
#header{
    
    color: white;
    
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#logo{
    font-size: 42px;
    color: #45A29E;
    display: inline-block;
    text-align: center;
}
#nav_menu{
    width: 300px;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_menu_item{
    justify-content: space-between;
}
#welcome_box{
    color: white;
    font-weight: lighter;
    font-size: 28px;
    height: max-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}
#welcome_box_item{
    margin-left: 20px;
}
#welcome_paragraph{
    margin: 0px;
    font-size: 81px;
    font-family: 'Manrope-SemiBold', Arial, Helvetica, sans-serif;
    color: #45A29E;
}
button{
    background-color: transparent;
    border-style: solid;
    border-color: #1F2833;
    
    padding: 5px;
    width: 300px;
    
    font-size: 28px;
    font-family: 'Manrope-Regular', Arial, Helvetica, sans-serif;
    color: white;
}
button:hover{
    color: black;
    animation: button_hover 0.5s ease-out;
    background-color: #45A29E;
    border-color: #45A29E;
    
    cursor: pointer;
}
@keyframes button_hover{
    from {background-color: transparent; color: white}
    to {background-color: #45A29E; color: black; border-color: #45A29E;}
}
@media (min-width: 600px){
    button{
        background-color: black;
    }
}